<hr>
<div class="searched-employee">
  <% if @searched_employee.respond_to?(:each) %>
    <% @searched_employee.each_with_index do |employee, i| %>
      <div class="searched-employee-card">
        <div class="card-header">
          <span id="name"><%= employee.name %></span> | <span id="department"><%= employee.department.department %></span>
        </div>
        <div class="card-body">
          <span id="role"><%= employee.account_role %></span>
        </div>
        <div class="card-footer">
          <%= link_to "Go to analysis", analysis_employee_path(employee.name)%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
