<div class="sidebar">
  <div class="employee">
    <i class="fa-solid fa-circle-user"></i>
    <div class="employee-data">
        <span id="employee-name"><%= @current_employee.name %></span>
        <span id="employee-role"><%= @current_employee.account_role %></span>
    </div>
  </div>
  <div class="sidebar-items">
    <ul>
      <li><i class="fa-solid fa-house"></i> Dashboard</li>
      <li><i class="fa-solid fa-users-line"></i> Employees</li>
      <li><i class="fa-regular fa-calendar"></i> Calendar</li>
      <li><i class="fa-solid fa-square-poll-vertical"></i> Statistics</li>
      <hr>
      <li><i class="fa-solid fa-circle-user"></i> Profile</li>
      <li><i class="fa-solid fa-gear"></i> Settings</li>
    </ul>
  </div>
</div>
